<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="main-pokedex-container">
        <div class="pokedex-header">
            <img src="/images/pokedex_logo.png" alt="Pokedex">
        </div>
        <div class="navbar">
            <h4>Search by name or pokedex number:</h4>
            <form id="search-form" class="search-box">
                <input type="text" name="search" id="input-search-pkmn" placeholder="Search a Pokemon">
                <button type="submit" id="btn-search">Search</button>
            </form>
        </div>
        <div class="display-pokedex">


            <div class="pokedex-list">
                <div class="display-options">
                    <input type="radio" name="display-pokedex" id="list-view" checked>
                    <label for="list-view"><img src="/icons/align-justify-svgrepo-com.svg" alt="List"></label>
                    <input type="radio" name="display-pokedex" id="mosaic-view">
                    <label for="mosaic-view"><img src="/icons/grid-svgrepo-com.svg" alt="Mosaic"></label>
                </div>
                <ol class="display-list">
                    <% pokemons.forEach(pokemon=> { %>
                        <li>
                            <button class="btn-pkmn-link" data-pkmn="<%= pokemon.name %>">
                                <%= pokemon.name.replace(/-/g, ' ' ) %>
                            </button>
                        </li>
                        <% }) %>
                </ol>
                <div class="display-mosaic hidden">
                    <% pokemons.forEach(pokemon=> {
                        const parts = pokemon.url.split('/').filter(Boolean);
                        const id = parts[parts.length - 1];
                        %>
                        <div class="mosaic-pkmn">
                            <button class="btn-pkmn-link" data-pkmn="<%= pokemon.name %>">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= id %>.png"
                                    alt="<%= pokemon.name %>">
                                <span class="mosaic-pkmn-name">
                                    <%= id %>. <%= pokemon.name.replace(/-/g, ' ' ) %>
                                </span>
                            </button>
                        </div>
                        <% }) %>
                </div>
            </div>


            <div class="pkmn-info">
                <p>Select a Pokémon or search one</p>
            </div>
        </div>

    </div>

    <script src="/scripts/main.js"></script>
</body>

</html>